:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: white;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}
input:focus {
  outline: none;
}
